<div class = "sidepanel">
    <div class = "header">
        <img src="{{ user.get('image_url') }}" alt="Profile image for {{ user.get('username') }}">
        <div class = "user">
            <p>{{ user.get('username') }}</p>
            <p>{{ user.get('first_name') + " " + user.get('last_name') }}</p>
        </div>
    </div>
    <div class = "recommendations">
        <p id = "h3sub">Suggestions For You</p>

        {% for suggestion in suggestions %}

            <div class = "suggestion">
                <img src="{{ suggestion.get('profile_url') }}" alt="Profile image for {{ suggestion.get('username') }}">
                <div class = "suggestion-info">
                    <p>{{ suggestion.get('username') }}</p>
                    <p>Suggested for you</p>
                </div>
                <a href = "#">Follow</a>
            </div>

        {% endfor %}

    </div>
</div>